page-newsdetails {
    .text-body{
        font-size: 20px;
        font-family: 'roboto';
        text-align: justify; 
    }
    img{
        width: 100%;
    }
    a{
        text-decoration: none;
        color: #d35400;
    }
    p{
        padding: 5px;
        img{
            height: 400px;
        }
    }
    h3{
        padding: 5px;
    }
    .footer{
        text-align: center;
        font-weight: bold;
    }
}
